html{
    scroll-behavior: smooth;
}

.Home{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .Home{
        width: 95%;
    }
}

@media only screen and (max-width: 512px) {
    .Home{
        width: 100%;
    }
}
